<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58386275112-rgcono0rbtdhm4eutrr6pfhao97mdrlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58386275112-rgcono0rbtdhm4eutrr6pfhao97mdrlk</string>
	<key>API_KEY</key>
	<string>AIzaSyAUu18VrD-EqV8fIIKIjGPf_QaNcnknThQ</string>
	<key>GCM_SENDER_ID</key>
	<string>58386275112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strongCore</string>
	<key>PROJECT_ID</key>
	<string>strongercorev2</string>
	<key>STORAGE_BUCKET</key>
	<string>strongercorev2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58386275112:ios:1263deaedf9f06c77e8e1d</string>
	<key>DATABASE_URL</key>
	<string>https://strongercorev2-default-rtdb.firebaseio.com</string>
</dict>
</plist>